body {
    background-color: #F4FAF0;
}

.bg-nav {
    background-color: #C0DDC5;
}

.bg-footer {
    background-color: #3A4D41;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1%;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.generalInformation {
    display: none;
}

.generalInformation:click{
    display: block;
}

.form {
    margin: auto;
    margin-top: 50px;
}