body {
    background-color: #F4FAF0;
}

.bg-nav {
    background-color: #C0DDC5;
}

.bg-footer {
    background-color: #3A4D41;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1%;
}

.form {
    margin: auto;
    margin-top: 50px;
}